<!-- 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
-->

<LINK href="/css/reset.css" rel="stylesheet" type="text/css">
<LINK href="/css/app.css" rel="stylesheet" type="text/css">
<LINK href="/jquery/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Roboto+Slab:400,100,300|Quattrocento+Sans:700|Open+Sans:300,400' rel='stylesheet' type='text/css'>

<!-- When we are developing without internet connection -->
<script src="/jquery/jquery.js"></script>
<script src="/jquery/jquery-ui-1.10.3.custom.js"></script>

<script src="/control.js"></script>