<header class="main">
<div class="header-block">
	<div class="header-content">
		<span class="logo"><a href="/">Sirra Team</span>
		<div class="menu">
			<div class="menu-item"><a href="/">Home</a></div>
			<div class="menu-item"><a href="/#how-it-works">How it works</a></div>
			<div class="menu-item"><a href="/#pricing">Pricing</a></div>
			<div class="menu-item"><a href="/signup">Sign Up</a></div>
			<div class="menu-item"><a href="/login">Log In</a></div>
		</div>
	</div>
</div>
<div class="inner-bottom"></div>
</header>
<div class="header-pad"></div>