/**
 * https://kuler.adobe.com/Detical-color-theme-2618173/edit/?copy=true&base=1&rule=Custom&selected=1&name=Copy%20of%20Detical&mode=rgb&rgbvalues=0.14901960784313725,0.20784313725490197,0.27058823529411763,0.7686274509803922,0.15294117647058825,0.23529411764705882,0.8431372549019608,0.8549019607843137,0.8588235294117647,0.42745098039215684,0.7372549019607844,0.8588235294117647,1,1,1
 */
 
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
 
small {
	font-size: 0.8em;
	font-style: italic;
}

body {
	background-image:url('/images/white_wall_hash.png');
}

.whole-screen {
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.visible-screen {
	height: 100%;
}

header {
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 1px 5px #ccc;
	background: white;
	color: #666;
}

header .right {
	float: right;
	position: relative;
}

header .inner {
	position: absolute;
	right: 9px;
	top: 18px;
	width: 40px;
}

header .icon {
	display: inline-block;
	padding: 5px 8px;
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
}

header .icon:hover {
	color: black;
	background: #eee;
}

header .logo {
	font-family: Quicksand;
	font-size: 1.5em;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 300px
	margin: 0 auto;
}

.top-padding {
	height: 25%;
}

.fact-headline {
	font-family: "Quattrocento Sans";
	font-size: 3em;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: #1693A5;
}

.fact-headline em {
	font-size: 1.2em;
	line-height: 1.5em;
}

.about-section {
	min-height: 100%;
}

.about-item {
	margin-bottom: 20px;
}

.about-item .label {
	display: inline-block;
	font-size: 1.3em;
	width: 30%;
	text-align: right;
	padding-right: 20px;
}

.about-item .description {
	display: inline-block;
	vertical-align: top;
	border-left: 3px solid #999;
	padding-left: 20px;
	min-height: 30px;
}

.app-content {
	padding: 0px 40px;
}

.clear {
	clear: both;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}